@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProjectPartB.Models.EditUserRolesViewModel

<h2>Edit User Roles</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="UserId" />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" readonly />
    </div>
    <div>
        @foreach (var role in Model.Roles)
        {
            <div class="form-check">
                <input asp-for="@role.IsSelected" class="form-check-input" />
                <label asp-for="@role.IsSelected" class="form-check-label">@role.RoleName</label>
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Update Roles</button>
</form>
